# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_vendor/
bin/


# Go executables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OSX/Darwin
.DS_Store

# Editor specific
*~

dist/
